<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Camisa 10</title>
    <style>
      .errorPage{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    </style>
  </head>

  <body class='errorPage'>
    <h1>Não tem nenhuma página aqui...</h1>
    <img 
      src="https://scontent.fgru11-1.fna.fbcdn.net/v/t1.6435-9/124528220_119748909926505_358764364408719848_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=973b4a&_nc_ohc=NVBbKB5pgykAX8W-5u3&_nc_ht=scontent.fgru11-1.fna&oh=ef54bdfd690f7b77de186bae56326f9c&oe=61B08342" 
      width="400"
    />
  </body>
</html>
